@model FLMS.Web.ViewModels.Team.CreateTeamViewModel
@{
    ViewBag.Title = "Create team";
}

<h2>Create new team</h2>

@using (Ajax.BeginForm("LoadPlayersForm", "Team", new AjaxOptions
{
    UpdateTargetId = "players-input",
    HttpMethod = "Get",
    InsertionMode = InsertionMode.ReplaceWith,
    OnSuccess = "hideById('loadPlayersForm')"
}, new
{
    id = "loadPlayersForm",
    @class = "form-horizontal"
}))
{
    <p>Enter players count between 5 and 15</p>
    <input type="number" min="5" max="15" value="5" name="count" class="form-control" />
    <br />
    <input type="submit" value="Add" class="btn btn-default" />
}
<br />
<div class="well">
    @using (Html.BeginForm("Create", "Team", null, FormMethod.Post, new { @class = "form-inline", id = "players-form" }))
    {
            <fieldset>
                <legend>Team info</legend>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                <div class="row" id="players-input"></div>
                <br />
                <input type="submit" value="Create" class="btn btn-success" />
            </fieldset>
    }

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
