@using FLMS.Web.ViewModels.Comment
@model FLMS.Web.ViewModels.Team.TeamDetailsViewModel

@{
    ViewBag.Title = "Team Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-md-4">@Html.DisplayNameFor(model => model.Name)</div>
        <div>@Html.DisplayFor(model => model.Name)</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.DisplayNameFor(model => model.League)</div>
        <div>@Html.DisplayFor(model => model.League)</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.DisplayNameFor(model => model.Season)</div>
        <div>@Html.DisplayFor(model => model.Season)</div>
    </div>
</div>

<h3>Players list</h3>
<table class="table table-striped table-hover">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Action</th>
    </tr>
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>@player.FirstName</td>
            <td>@player.LastName</td>
            <td>@player.Position.ToString()</td>
            <td>@Html.ActionLink("Details", "Details", "Player", new { id = player.Id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }

    @*@Html.DisplayForModel(Model.Players)*@
</table>

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_PostTeamCommentPartial", new PostTeamCommentViewModel(Model.Id))
}

<div id="comments">
    @foreach (var comment in Model.Comments)
    {
            @Html.Partial("_TeamCommentPartial", comment)
    }
</div>
