@model IEnumerable<FLMS.Web.ViewModels.Team.TeamRankViewModel>

@foreach(var team in Model)
{
    <tr>
        <td>@Html.ActionLink(@team.Name, "Details", "Team", new { id = team.Id }, null)</td>
        <td>@team.Wins</td>
        <td>@team.Draws</td>
        <td>@team.Loses</td>
        <td><strong>@team.Points</strong></td>
    </tr>
}
