<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football League MS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Football League MS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("All Teams", "All", "Team", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("All Players", "All", "Player", new { area = "" }, null)</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create new team", "Create", "Team", new { area = "" }, null)</li>
                    }

                    @if (User.IsInRole("Manager"))
                    {
                        <li>
                            @Html.ActionLink("Management", "Index", "Home", new { area = "Management" }, null)
                        </li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <li>
                            @Html.ActionLink("Administration", "Index", "Home", new { area = "Administration" }, null)
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Telerik Academy - Radoslav Chervenkov</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
