<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football league management system - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Football league management system", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create new team", "Create", "Team", new { area = "" }, null)</li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li>
                            @Html.ActionLink("Management", "Index", "Home", new { area = "Management" }, null)
                            <ul>
                                <li>@Html.ActionLink("Add league", "Create", "League", new { area = "Management" }, null)</li>
                                <li>@Html.ActionLink("Add match", "Create", "Match", new { area = "Management" }, null)</li>
                                <li>@Html.ActionLink("Add result", "Result", "Match", new { area = "Management" }, null)</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>
                            @Html.ActionLink("Administration", "Index", "Home", new { area = "Administration" }, null)
                            <ul>
                                <li>@Html.ActionLink("Seasons", "Index", "Seasons", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Leagues", "Index", "Leagues", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Teams", "Index", "Teams", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Players", "Index", "Players", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>



                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
